<!-- Animated background with image overlay -->
<div class="background-overlay"></div>

<!-- Floating shapes -->
<div class="shape shape-1"></div>
<div class="shape shape-2"></div>
<div class="shape shape-3"></div>
<div class="shape shape-4"></div>
<div class="shape shape-5"></div>

<!-- Floating particles -->
<div class="particles">
    <div class="particle" style="--i:1"></div>
    <div class="particle" style="--i:2"></div>
    <div class="particle" style="--i:3"></div>
    <div class="particle" style="--i:4"></div>
    <div class="particle" style="--i:5"></div>
    <div class="particle" style="--i:6"></div>
    <div class="particle" style="--i:7"></div>
    <div class="particle" style="--i:8"></div>
</div>