<div class="text-center">
    <div class="brand-icon-wrapper">
        <div class="brand-icon animate__animated animate__bounceIn">
            <i class="fas fa-store"></i>
        </div>
        <div class="brand-icon-glow"></div>
    </div>
    <div class="login-header">
        <h1 class="animate__animated animate__fadeInUp">Pandeli</h1>
        <p class="animate__animated animate__fadeInUp animate__delay-1s">
            <i class="fas fa-leaf me-2"></i>Freshly Baked, Daily Made
        </p>
    </div>
</div>